{{ define "content" }}
<h2>Parkeerrecht toevoegen</h2>

<p>
    Om data op te halen bij de API moet je een referentie meegeven aan het request. Die referentie verwijst naar
    de specifieke connectie op basis waarvan je het request wilt doen. Die connectie staat in een contract met mogelijkerwijs
    meerdere connecties. Je geeft deze referentie mee in het request naar de Outway in de header: Fsc-Grant-Hash
</p>

<p>
    Voor het toevoegen van een parkeerrecht zijn in deze fictieve applicatie twee API’s nodig:
    Het kentekenregister van de RVRD ter controle wat voor auto het betreft
    De parkeerrechten API van de gemeente om na de controle het parkeerrecht aan te maken in de administratie.
</p>

<p>
    Vul hieronder per API de referentie van de connectie in die je wil gebruiken om te communiceren.
    <a
        href="#"
        target="_blank"
        rel="nofollow noreferrer"
    >
        Open de Controller om de contracten in te zien.
    </a>
</p>

<form action="/toevoegen" method="post" hx-post="/toevoegen" hx-target="this" hx-select="form" hx-swap="innerHTML show:window:top">
    <div class="alert alert--error hidden" id="error-message">
        <p class="alert__title">Oeps, er ging iets fout</p>
        <p class="alert__content"></p>
    </div>

    {{ if gt (len .SuccessMessage) 0 }}
    <div class="alert alert--success">
        <p class="alert__title">Gelukt</p>
        <p class="alert__content">{{ .SuccessMessage }}</p>
    </div>
    {{ end }}

    <label for="kentekenGrantHash">Referentie Kenteken API</label>
    <small>Referentie waarmee je toegang hebt tot de Kenteken API.</small>
    <input type="text"
           id="kentekenGrantHash"
           name="kentekenGrantHash"
           value="{{ .Form.KentekenGrantHash }}"
    />

    <br>

    <label for="parkeerrechtenGrantHash">Referentie Parkeerrechten API</label>
    <small>Referentie waarmee je toegang hebt tot de Parkeerrechten API.</small>
    <input type="text"
           id="parkeerrechtenGrantHash"
           name="parkeerrechtenGrantHash"
           value="{{ .Form.ParkeerrechtenGrantHash }}"
    />

    <br>

    <label for="municipality">Gemeente</label>
    <small>Gemeente waarvoor het parkeerrecht geldig is</small>
    <select id="municipality" name="municipality">
        {{ range .Municipalities }}
        <option value="{{ . }}" {{ if (eq $.Form.Municipality .) }}selected{{ end }}>{{ . }}</option>
        {{ end }}
    </select>

    <br>
    <br>

    <label for="license">Kenteken</label>
    <br>
    <select id="license"
            name="license"
            hx-trigger="change"
            hx-get="/kenteken"
            hx-include="[name='kentekenGrantHash']"
            hx-select="*"
            hx-target="#kenteken"
            hx-swap="innerHTML show:#kenteken:top"
    >
        {{ range .Licenses }}
        <option value="{{ . }}" {{ if (eq $.Form.License .) }}selected{{ end }}>{{ . }}</option>
        {{ end }}
    </select>

    <br>
    <br>

    <div id="kenteken"></div>

    <label for="year">Geldig voor</label>
    <small>Geef het jaar op waarop het parkeerrecht geldig is.</small>
    <input id="year" name="year" type="number"
           value="{{ .Form.Year }}"/>

    <br>

    <button type="submit">Toevoegen</button>
</form>

<script>
    htmx.on("htmx:beforeRequest", function () {
        hideAlerts()
    })

    htmx.on("htmx:responseError", function (error) {
        const errorMessageEl = document.getElementById('error-message')
        const alertContentEl = errorMessageEl.querySelector('.alert__content')

        errorMessageEl.classList.remove('hidden')
        alertContentEl.textContent = `${error.detail.xhr.status} -  ${error.detail.xhr.responseText}`
    })

    function hideAlerts() {
        const alerts = document.querySelectorAll('.alert')
        alerts.forEach(alertEl => {
            alertEl.classList.add('hidden')
        })
    }
</script>
{{ end }}
