<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">

    <title>{{ .SelfOrganizationName }} – Parkeerrechten Admin</title>

    <link rel="stylesheet" type="text/css" href="/assets/main.css" />
    <script src="/assets/htmx-1.9.2.min.js"></script>
</head>
<body>

<div class="container">
    <h1>Parkeerrechten</h1>
    <p class="tagline">{{ .SelfOrganizationName }}</p>

    <nav hx-boost="true">
        <a href="/" {{ if eq .ActivePagePath .PagePathHome  }}class="active"{{ end }}>Home</a>
        <a href="/ophalen" {{ if eq .ActivePagePath .PagePathRetrieve  }}class="active"{{ end }}>Ophalen</a>
        <a href="/toevoegen" {{ if eq .ActivePagePath .PagePathAdd  }}class="active"{{ end }}>Toevoegen</a>
    </nav>

    {{ block "content" . }}
    Inhoud
    {{ end }}
</div>

</body>
</html>
