{{ define "content" }}
    <h2>Introductie</h2>
    <p>
        Deze applicatie demonstreert hoe een applicatie (client) gebruik maakt van een <a href="https://commonground.gitlab.io/standards/fsc/">FSC</a> compliant koppeling tussen organisaties.
    </p>
    <p>
        De applicatie toont twee typen koppelingen:
    </p>
    <ul>
        <li>
            Directe koppeling tussen organisatie A en organisatie B
            <br>
            <img class="diagram" src="/assets/demo-direct.drawio.svg" />
        </li>
        <li>
            Gedelegeerde koppeling waarbij organisatie C namens organisatie A bij organisatie B data ophaalt.
            <br>
            <img class="diagram" src="/assets/demo-delegation.drawio.svg" />
        </li>
    </ul>

    <p>De voorbeeld organisaties zijn:</p>

    <ul>
        <li>De gemeente Stijns met een Parkeerrechten-register</li>
        <li>Rijksdienst voor Realistische Demo's met een Kentekenregister</li>
        <li>Vergunningsoftware BV met een applicatie waarmee burgers een parkeervergunning kunnen aanvragen.</li>
    </ul>

    <h2>Request flow</h2>

    <p>
        De parkeerrechten ophalen en toevoegen kan op twee verschillende manieren. Door zelf toegang te regelen of via Delegatie. De flow is steeds als volgt:
    </p>

    <p>
        Client (deze website) -> Outway (FSC compliant gateway) -> Inway (FSC compliant gateway) -> Parkeerrechten (API).
    </p>

    <ol>
        <li>
            De client draait in een netwerk wat toegang heeft tot de Outway.
        </li>
        <li>
            De client doet het request aan de Outway met daarin de referentie van de toegang tot de API

            <ol style="list-style-type: lower-alpha">
                <li>Technisch is dit de grant hash van de toegang die gebruikt moet worden en deze wordt in de Fsc-Grant-Hash header gezet. De toegang is eerder al georganiseerd door een Contract tussen de betrokken organisaties op te stellen.</li>
            </ol>
        </li>
        <li>
            De Outway controleert of er een valide toegangstoken beschikbaar is en vraagt deze aan bij de API provider wanneer nodig
        </li>
        <li>
            De Outway stuurt het request naar de inway inclusief het toegangstoken
        </li>
        <li>
            De Inway herkent het token en stuurt het request door naar de API.
        </li>
    </ol>

    <h2>Toegang op basis van unieke referentie</h2>
    <p>
        Organisaties stellen met elkaar een contract op waarin de connecties van Outway naar API zijn gedefinieerd. Elk van deze connecties heeft een unieke referentie. Deze referentie wordt een client applicatie gebruikt om aan de Outway aan te geven op basis van welke toestemming de connectie en daarmee het request uitgevoerd wordt.
    </p>
{{ end }}
